doctype html
html
  head
    | <base href='<?= base_url() ?>views/landing/' target='_blank'>
    meta(name='viewport',content="width=device-width, initial-scale=1",charset="UTF-8")
    link(rel='stylesheet',href='../bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet',href='../bower/reset-css/reset.css')
    link(rel='stylesheet',href='../bower/jquery.bxslider/jquery.bxslider.css')
    link(rel='stylesheet',href='../bower/animate/animate.css')
    link(rel='stylesheet',href='../bower/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet',href='font/quark.css')
    link(rel='stylesheet',href='landing.css')
  body
    div.container
      div.row
        div.col-xs-12
          include ./components/main/navbar.jade
          include ./components/main/present.jade
          include ./components/main/home-suggest.jade
          include ./components/main/newsfeed.jade          
          include ./components/main/footer.jade
    
    //- div.container  include ./components/main/present.jade
    //-   div.row
    //-     div.col-xs-12
    //-       div#popup-design.modal.fade
    //-         div.modal-dialog.modal-lg
    //-           img.img-responsive.center-block(src='../images/landing/categories/design-popup.png')
    //-       div#popup-programming.modal.fade
    //-         div.modal-dialog.modal-lg
    //-           img.img-responsive.center-block(src='../images/landing/categories/programming-popup.png')
    //-       div#popup-content.modal.fade
    //-         div.modal-dialog.modal-lg
    //-           img.img-responsive.center-block(src='../images/landing/categories/content-popup.png')
    //-       div#popup-marketing.modal.fade
    //-         div.modal-dialog.modal-lg
    //-           img.img-responsive.center-block(src='../images/landing/categories/marketing-popup.png')
    
    script(src='../bower/jquery/dist/jquery.min.js')
    script(src='../bower/bootstrap/dist/js/bootstrap.min.js')
    script(src='../bower/jquery.bxslider/jquery.bxslider.min.js')
    script(src='landing.js')
