@import './components/navbar';
@import './components/present';
@import './components/categories';
@import './components/sponsor';
@import './components/guru';
@import './components/whatis';
@import './components/newsfeed';
@import './components/qa';
@import './components/footer';
@import './components/timeline';
@import './components/social';
//@import './components/youtube';

$theme-blue: #0f1f2f;
$theme-blue2: #70CBCE;
$theme-blue3: #1e3849;
$theme-select: #1F5F76;
$theme-feed: #193349;
section {
    padding: 0 !important;}
.container{
	  padding: 0;}
.font-bold {
  font-family: 'quarkbold', Roboto, Arial, Tahoma, sans-serif;
}
.font-light {
  font-family: 'quarklight', Roboto, Arial, Tahoma, sans-serif;
}
a{
	color: #fff;
	cursor:pointer;
	&:hover{text-decoration: none;}
}
html {
  width:100%;
  
}

body {
  font-size: 120%;
  background: #252830;
  color: #FFF;
  overflow-x: hidden;
  @extend .font-light;
  @media screen and (max-width: 767px) {
    font-size: 100%;
  }


  .bg-parallax {
    transition: all 1s;
  }
}

.modal.in {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

section {
  padding: 20px 0;

  .title-head {
    text-align: center;
    font-size: 2rem;
    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
    }
  }
  .title-head-large {
    @extend .title-head;
    font-size: 2.5rem;
    margin-top: 10px;
    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }
  }
}
