@import './components/main/navbar';
@import './components/main/present';
@import './components/main/home-suggest';
@import './components/main/sponsor';
@import './components/main/whatis';
@import './components/main/newsfeed';
@import './components/main/qa';
@import './components/main/footer';
@import './components/main/timeline';
@import './components/main/social';
@import './components/profile/profile_present';
@import './components/profile/circle';
@import './components/blog/blog';
@import './components/blog/suggest';
@import './components/tag/search-tag';



//@import './components/youtube';

$theme-blue: #0f1f2f;
$theme-blue2: #70CBCE;
$theme-blue3: #1e3849;
$theme-select: #1F5F76;
$theme-feed: #193349;
$color-title: #4674a9;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

section {
    padding: 0 !important;}
.container{
	  padding: 0;}
.font-bold {
  font-family: 'quarkbold', Roboto, Arial, Tahoma, sans-serif;
}
.font-light {
  font-family: 'quarklight', Roboto, Arial, Tahoma, sans-serif;
}
.clear-all{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix{height: 1%;}
.relative{position: relative;}

.btn-reset{
  background: transparent;
  border: 0px;
  font-size: 100%;
  &:hover a{
    color: inherit;
  }
}

a{
	color: #fff;
	cursor:pointer;
	&:hover{text-decoration: none;}
}
html {
  width:100%;
  
}

body {
  font-size: 120%;
  background: #252830;
  color: #FFF;
  overflow-x: hidden;
  @extend .font-light;
  @media screen and (max-width: 767px) {
    font-size: 100%;
  }
  .bg-parallax {
    transition: all 1s;
  }
}

.modal.in {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

section {
  padding: 20px 0;

  .title-head {
    text-align: center;
    font-size: 2rem;
    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
    }
  }
  .title-head-large {
    @extend .title-head;
    font-size: 2.5rem;
    margin-top: 10px;
    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }
  }
}
