mixin reply-copy()
  div.reply-row.reply-row-1
    div.qnumber
      p ความคิดเห็นที 1-2
    div.text-content.intext
      p สวัสดีครับ เนื่องจากครอบครัว YWC เรามีสมาชิกมากขึ้นทุกปี จึงได้เกิดไอเดียในการรวบรวมข้อมูลบุคคลเพื่อเก็บเป็นทำเนียบรุ่น และนำข้อมูลไปใช้ประโยชน์ต่างๆเช่น ค้นหาเพื่อนที่เรียนมหาวิทยาลัยเดียวกัน ค้นหาคนที่มีความชอบตรงกัน หรือค้นหาคนที่มี skill ด้านต่างๆ
    div.btm-question.clearfix       
      div.right-area
        div.vote-area
          button(type="button" data-toggle="tooltip" data-placement="top" title="ใช่เลย")
            i.fa.fa-angle-up
          h1 1
          button(type="button" data-toggle="tooltip" data-placement="top" title="แย่")
            i.fa.fa-angle-down
          h1 8
        div.user-area
          div.avatar
          div.user-deatil
            div.username
              h1 Holyboom
            div.time-post
              p 2&nbsp;ชั่วโมงที่แล้ว
          img.user-character(src='../images/landing/present/level_5.svg')
    div.clear-all


section#blog
  div.container
    div.row
      div.col-xs-12.wrapper
        div.all-area
          div.menu-second.question-area-size
            ul
              li
                a หน้าแรก
              li
                a แท็ก
              li
                a อันดับ
              li
                div.user
                  div.avatar
                  h1 บัญชีผู้ใช้
              li
                i.fa.fa-plus-circle
          div.question-area.question-area-size
            div.ask-area
              div.top-container
                div.head.float-left
                  h1 อยากสอบถามเรื่องระบบ Login Yii Framework
                div.received
                  p ได้รับคำตอบแล้ว
              div.tags-area
                ul
                  li
                    a Login
                  li
                    a framework
                  li
                    a ภาษาc
              div.text-content.intext
                p ตาราง Person
                p ตาราง Person
                p ตาราง Person
                p ตาราง Person
                p ตาราง Person
                p ตาราง Person
              div.btm-question.clearfix
                div.right-area
                  div.vote-area
                    button(type="button" data-toggle="tooltip" data-placement="top" title="ใช่เลย")
                      i.fa.fa-angle-up
                    h1 3
                    button(type="button" data-toggle="tooltip" data-placement="top" title="แย่")
                      i.fa.fa-angle-down
                    h1 1
                  div.user-area
                     img.avatar(src='../images/landing/present/avatar.jpg')
                    div.user-deatil
                      div.username
                        h1 Holyboom
                      div.time-post
                        p 2&nbsp;ชั่วโมงที่แล้ว
                    div.user-character
              div.clear-all

            div.selected-ans-area
              div.head-text
                i.fa.fa-star
                p ความคิดเห็นที่ถูกเลือก

              div.selected-ans
                div.qnumber
                  p ความคิดเห็นที 3
                div.text-content.intext
                  p ปกติผมจะใช้ Please hit 'close' to close this window or click 'logout' to logout.Please hit 'close' to close this window or click 'logout' to logout.Please hit 'close' to close this window or click 'logout' to logout.v
                div.btm-question.clearfix
                  button.btn.btn-primary.btn-reply(type="button" data-toggle="" data-target="" aria-expanded="false" aria-controls="")
                    div.reply
                      p ตอบกลับ(0)
                  div.right-area
                    div.vote-area
                      button(type="button" data-toggle="tooltip" data-placement="top" title="ใช่เลย")
                        i.fa.fa-angle-up
                  
                      h1 41
                      button(type="button" data-toggle="tooltip" data-placement="top" title="แย่")
                        i.fa.fa-angle-down
                      h1 0
                    div.user-area
                      div.avatar
                      div.user-deatil
                        div.username
                          h1 Holyboom
                        div.time-post
                          p 2&nbsp;ชั่วโมงที่แล้ว
                      div.user-character
                div.clear-all

            div.head-text
              p 9&nbsp;ความคิดเห็น
              div.line-decor

            div.all-ans-area
              div.ans-plus-reply.ans-plus-reply-0
                div.ans-row.ans-row-0
                  div.answer
                    div.qnumber
                      p ความคิดเห็นที 1
                    div.text-content.intext
                      p ปกติผมจะใช้ Please hit 'close' to close this window or click 'logout' to logout.Please hit 'close' to close this window or click 'logout' to logout.Please hit 'close' to close this window or click 'logout' to logout.v
                    div.btm-question.clearfix               
                      button.btn.btn-primary.btn-reply(type="button" data-toggle="collapse" data-target="#collapse-row0" aria-expanded="false" aria-controls="collapseExample")
                        div.reply
                          p ตอบกลับ(3)
                      button.pick-best-btn.btn-tog
                        i.fa.fa-star
                        p เลือกเป็นสุดยอดคำตอบ
                      div.right-area
                        div.vote-area
                          button(type="button" data-toggle="tooltip" data-placement="top" title="ใช่เลย")
                            i.fa.fa-angle-up
                          h1 41
                          button(type="button" data-toggle="tooltip" data-placement="top" title="แย่")
                            i.fa.fa-angle-down
                          h1 0
                        div.user-area
                          div.avatar
                          div.user-deatil
                            div.username
                              h1 Holyboom
                            div.time-post
                              p 2&nbsp;ชั่วโมงที่แล้ว
                          div.user-character
                    div.clear-all
                div#collapse-row0.collapse.each-reply
                  div.reply-row.reply-row-0
                    div.qnumber
                      p ความคิดเห็นที 1-1
                    div.text-content.intext
                      p สวัสดีครับ เนื่องจากครอบครัว YWC เรามีสมาชิกมากขึ้นทุกปี จึงได้เกิดไอเดียในการรวบรวมข้อมูลบุคคลเพื่อเก็บเป็นทำเนียบรุ่น และนำข้อมูลไปใช้ประโยชน์ต่างๆเช่น ค้นหาเพื่อนที่เรียนมหาวิทยาลัยเดียวกัน ค้นหาคนที่มีความชอบตรงกัน หรือค้นหาคนที่มี skill ด้านต่างๆ
                    div.btm-question.clearfix       
                      div.right-area
                        div.vote-area
                          button(type="button" data-toggle="tooltip" data-placement="top" title="ใช่เลย")
                            i.fa.fa-angle-up
                          h1 1
                          button(type="button" data-toggle="tooltip" data-placement="top" title="แย่")
                            i.fa.fa-angle-down
                          h1 8
                        div.user-area
                          div.avatar
                          div.user-deatil
                            div.username
                              h1 Holyboom
                            div.time-post
                              p 2&nbsp;ชั่วโมงที่แล้ว
                          div.user-character
                    div.clear-all
                  +reply-copy()
                  +reply-copy()
        div.all-suggest-area
          include suggest.jade