div#suggest
  div.suggest-area
    div.head-text
      i.fa.fa-heart
      h1 คำถามที่คุณอาจสนใจ
    div.all-suggest     
      div.each-suggest
        p สอบถามเกี่ยวกับ Yii2 CSV Importer to Database
        div.already-get
          i.fa.fa-heart
          p ได้รับคำตอบแล้ว
    
      div.each-suggest
        p สอบถามเกี่ยวกับ Yii2 CSV Importer to Database
    
      div.each-suggest
        p สอบถามเกี่ยวกับ Yii2 CSV Importer to Database
  