#head {
  padding-top: 40px;
  background: url('../images/landing/bg/bg-main.png') center center;
  background-size: cover;

  .quote {
    font-size: 1.7rem;
    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes rotatingReverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  .rotable {
    animation: rotating 25s linear infinite;
    // @media screen and (max-width: 767px) {
    //   animation: none;
    // }
  }
  .rotable-reverse {
    animation: rotatingReverse 25s linear infinite;
    // @media screen and (max-width: 767px) {
    //   animation: none;
    // }
  }
}
