$bgDefault      : rgba(2, 1, 2, 0.61);
$bgDefault-hover: rgba(2, 1, 2, 0.9);
$theme-blue: #0f1f2f;
$theme-blue2: #70CBCE;
$bgHighlight    : transparent;
$colDefault     : #fbfbfb;
$colHighlight   : #fbfbfb;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

#slack-top{
	width: 100%;
	position: absolute;
	top: 0;
}
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;  
  @include transition(all .5s);
  &:hover{
	  background-color: $bgDefault-hover;
	  @include transition(all .8s);
  }
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
	 margin: 1em 2em .6em 0;
	 font-size: smaller; 
    > li {
	  > .register{
		 
	        border: 2px solid $theme-blue2;
	        @include transition(all .3s);
	        &:hover{  
		        padding-right: 8.5em;
		        @include transition(all .5s);
		       
		    }
        }
      > a {
        color: $theme-blue2;
        line-height: 0px;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
   
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
