$theme-blue: #0f1f2f;

#present {
  font-size: 1.7rem;


  .back-present{
    width: 100%;
    height: 550px;
    background-color: #0f1f2f;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    z-index: 1;
  
   
  }
    
  .font-present{
    position: absolute;
    z-index: 2;
    top: 100px;

    #computer img{
     
      z-index: 3;
    }

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes rotatingReverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  .rotable {
    animation: rotating 25s linear infinite;
    // @media screen and (max-width: 767px) {
    //   animation: none;
    // }
  }
  .rotable-reverse {
    animation: rotatingReverse 25s linear infinite;
    // @media screen and (max-width: 767px) {
    //   animation: none;
    // }
  }
}
