#present {
  font-size: 1.7rem;

  .back-present{
    position: fixed;
    top: 0;
    z-index: 0;
    position: relative;
  }
    
  .font-present{
    position: absolute;
    z-index: 1;
    margin-top: 40%;

    #computer{
      width: 23%;
      z-index: 2;
    }

  }


    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes rotatingReverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  .rotable {
    animation: rotating 25s linear infinite;
    // @media screen and (max-width: 767px) {
    //   animation: none;
    // }
  }
  .rotable-reverse {
    animation: rotatingReverse 25s linear infinite;
    // @media screen and (max-width: 767px) {
    //   animation: none;
    // }
  }
}
