#sponsor {

  padding-top: 80px;
  padding-bottom: 80px;
  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1366px) {
    padding-top:40px;
    padding-bottom: 40px;
  }

  .sponsor {
      width: 80%;
      margin-top: 7%;
  }

  .space {
    height: 60px;
    @media screen and (max-width: 767px) {
      height: 0px;
    }
  }

  .big,.medium,.small {
    margin-top: 20px;
  }

  .big {
    background: url('../images/landing/sponsor/frame.png');
    background-size: cover;
    padding: 18px;
    @media screen and (max-width: 767px) {
      padding: 12px;
    }
  }

}
