section#categories
  div.top-space
  div.all-content
    div.container
      div.row
        div.col-xs-12.topic
          div.title-head-large.font-bold สาขาที่เปิดรับสมัคร
        
        div.col-xs-12
          div.role &nbsp;
        
        div.col-xs-12.col-md-10.col-md-offset-1
          div.container-fluid
            div.row
              div.col-xs-12.col-sm-6.col-md-3.text-center.content
                div.logo
                  img.img-responsive.center-block(src='../images/landing/categories/content.png',width='200')
                div.cat-title.font-bold WEB CONTENT
                div.cat-des
                  | หัวใจหลักของการดึงคนเข้าเว็บไซต์ ด้วยวิธีการนำเสนอข้อมูลผ่านวิธีที่น่าสนใจที่สุด
                div.cat-more.font-bold.detail-1
                  div(data-toggle='modal',data-target='#popup-content') [&nbsp;  รายละเอียด &nbsp;]
                div.counting
                  | จำนวนผู้สมัคร
                div.counting-num
                  | 169
                a(href='../../register/#/content',target='_blank')
                  button.register-btn.font-bold
                    | สมัครเลย
              
              div.col-xs-12.col-sm-6.col-md-3.text-center.design
                div.logo
                  img.img-responsive.center-block(src='../images/landing/categories/design.png',width='200')
                div.cat-title.font-bold WEB DESIGN
                div.cat-des
                  | การผนวกนำจินตนาการและผสานความคิดสร้างสรรค์ สร้างเว็บไซต์ที่โดดเด่นน่าสนใจ
                div.cat-more.font-bold.detail-2
                  div(data-toggle='modal',data-target='#popup-design') [&nbsp;  รายละเอียด &nbsp;]
                div.counting
                  | จำนวนผู้สมัคร
                div.counting-num
                  | 169
                a(href='../../register/#/design',target='_blank')
                  button.register-btn.font-bold
                    | สมัครเลย
              
              div.col-xs-12.col-sm-6.col-md-3.text-center.marketing
                div.logo
                  img.img-responsive.center-block(src='../images/landing/categories/marketing.png',width='200')
                div.cat-title.font-bold WEB MARKETING
                div.cat-des
                  | ที่สุดของการกำหนดทิศทางการตลาดออนไลน์ที่สำคัญของเว็บไซต์ด้วยช่องทางและมุมมองใหม่ๆ
                div.cat-more.font-bold.detail-3
                  div(data-toggle='modal',data-target='#popup-marketing') [&nbsp;  รายละเอียด &nbsp;]
                div.counting
                  | จำนวนผู้สมัคร
                div.counting-num
                  | 169
                a(href='../../register/#/marketing',target='_blank')
                  button.register-btn.font-bold
                    | สมัครเลย
              
              div.col-xs-12.col-sm-6.col-md-3.text-center.programming
                div.logo
                  img.img-responsive.center-block(src='../images/landing/categories/programming.png',width='200')
                div.cat-title.font-bold WEB PROGRAMMING
                div.cat-des
                  | ผู้สร้างกลไกการทำงาน ผู้ผลักดันเว็บไซต์ให้เกิดขึ้นได้จริง ด้วยสุดยอดทักษะด้านโปรแกรม
                div.cat-more.font-bold.detail-4
                  div(data-toggle='modal',data-target='#popup-programming') [&nbsp;  รายละเอียด &nbsp;]
                div.counting
                  | จำนวนผู้สมัคร
                div.counting-num
                  | 169
                a(href='../../register/#/programming',target='_blank')
                  button.register-btn.font-bold
                    | สมัครเลย
