footer
  div.container
    div.row
      div.col-xs-12.col-sm-6.col-md-3.text-center(style='margin:20px 0;')
        img.img-responsive.center-block(src='../images/landing/footer/logo.svg',width='150',style='margin-bottom:8px;')
        div YWC.in.th 2003-2015
        div All Right Reserved
        div Designed and Managed by #YWC12
      div.col-xs-12.col-sm-6.col-md-3.text-center(style='margin:20px 0;')
        div.head About YWC
        div ค่ายเจาะลึกวิชาชีพเว็บมาสเตอร์
        div สำหรับนิสิต-นักศึกษาผู้สร้างสรรค์
        div ที่จะเปลี่ยน "อนาคต" 
        div คุณไปตลอดกาล
      div.col-xs-12.col-sm-6.col-md-3.text-center(style='margin:20px 0;')
        div.head Follow Us
        div.container-fluid
          div.row(style='display:flex; margin-left: 0px;')
            div.col-xs-6
              img(src='../images/landing/footer/facebook.svg',width='30')
             
            div.col-xs-6
              img(src='../images/landing/footer/twitter.svg',width='30')

            div.col-xs-6
              img(src='../images/landing/footer/youtube.svg',width='30')
              
            div.col-xs-6
              img(src='../images/landing/footer/ig.svg',width='30')
              
      div.col-xs-12.col-sm-6.col-md-3.text-center(style='margin:20px 0;')
        div.head Contact
        div E-mail sponsor@ywc.in.th
        div(style='font-size:0.8rem; margin-top:8px;') Sponsored by
        img(src='../images/landing/footer/sponsor.svg')
        div.container-fluid
          div.row
            div.col-xs-3
            div.col-xs-3
            div.col-xs-3
            div.col-xs-3
