section#guru
  div.container
    div.row
      div.col-xs-12
        div.title-head YWC GURU
        div.title-head-large.font-bold วิทยากรในค่าย
      
      div.col-xs-12
        div.space
      
      div.col-xs-12.hidden-xs.hidden-sm
        div.ground-wrapper
          div.ground
            div.img(style='background-image:url("../images/landing/guru/1.png")',data-img='1')
            div.img(style='background-image:url("../images/landing/guru/2.png")',data-img='2')
            div.img(style='background-image:url("../images/landing/guru/3.png")',data-img='3')
            div.img(style='background-image:url("../images/landing/guru/4.png")',data-img='4')
            div.img(style='background-image:url("../images/landing/guru/5.png")',data-img='5')
            div.img(style='background-image:url("../images/landing/guru/6.png")',data-img='6')
            div.img(style='background-image:url("../images/landing/guru/7.png")',data-img='7')
            div.img(style='background-image:url("../images/landing/guru/8.png")',data-img='8')
            div.img(style='background-image:url("../images/landing/guru/9.png")',data-img='9')
            div.img(style='background-image:url("../images/landing/guru/10.png")',data-img='10')
            div.img(style='background-image:url("../images/landing/guru/11.png")',data-img='11')
            div.img(style='background-image:url("../images/landing/guru/12.png")',data-img='12')
            div.img(style='background-image:url("../images/landing/guru/line.png")',data-img='line')
            div.img.description.text-center(style='display:none;')
              | test
      
      div.col-xs-12.visible-xs.visible-sm
        div.ground-wrapper
          div.ground
            div.container-fluid
              div.row
                div.img.description.text-center(style='display:none;')
                  | test
                div.img.col-xs-3.col-sm-2(data-img='1')
                  img.img-responsive(src='../images/landing/guru/1.png')
                div.img.col-xs-3.col-sm-2(data-img='2')
                  img.img-responsive(src='../images/landing/guru/2.png')
                div.img.col-xs-3.col-sm-2(data-img='3')
                  img.img-responsive(src='../images/landing/guru/3.png')
                div.img.col-xs-3.col-sm-2(data-img='4')
                  img.img-responsive(src='../images/landing/guru/4.png')
                div.img.col-xs-3.col-sm-2(data-img='5')
                  img.img-responsive(src='../images/landing/guru/5.png')
                div.img.col-xs-3.col-sm-2(data-img='6')
                  img.img-responsive(src='../images/landing/guru/6.png')
                div.img.col-xs-3.col-sm-2(data-img='7')
                  img.img-responsive(src='../images/landing/guru/7.png')
                div.img.col-xs-3.col-sm-2(data-img='8')
                  img.img-responsive(src='../images/landing/guru/8.png')
                div.img.col-xs-3.col-sm-2(data-img='9')
                  img.img-responsive(src='../images/landing/guru/9.png')
                div.img.col-xs-3.col-sm-2(data-img='10')
                  img.img-responsive(src='../images/landing/guru/10.png')
                div.img.col-xs-3.col-sm-2(data-img='11')
                  img.img-responsive(src='../images/landing/guru/11.png')
                div.img.col-xs-3.col-sm-2(data-img='12')
                  img.img-responsive(src='../images/landing/guru/12.png')
            
