section#head
  div.container
    div.row
      div.col-xs-12.wrapper
        div.logo(style="position:relative;")
          div(style="position:absolute; left:0px; top:0px; width:900px; height:900px; background: url('../images/landing/head/1.png') no-repeat; background-size:cover;").rotable
            div(style="position:absolute; left:150px; top:150px; width:600px; height:600px;").rotable-reverse
              div(style="position:absolute; left:150px; top:150px; width:600px; height:600px; background: url('../images/landing/head/2.png') no-repeat; background-size:cover;").rotable-reverse
                div(style="position:absolute; left:30px; top:30px; width:540px; height:540px; background: url('../images/landing/head/3.png') no-repeat; background-size:cover;")
                  div(style="position:absolute; left:60px; top:60px; width:420px; height:420px; background: url('../images/landing/head/4.png') no-repeat; background-size:cover;")
                    div(style="position:absolute; left:60px; top:60px; width:420px; height:420px;").rotable
                      div(style="position:absolute; left:0px; top:0px; width:210px; height:77px; background: url('../images/landing/head/logo.png') no-repeat; background-size:contain;")        
                      div(style="position:absolute; left:0px; top:0px; width:515px; height:190px; background: url('../images/landing/head/5.png') no-repeat; background-size:contain;")
                      //- div.text-center.quote.font-bold(style="position:absolute; left:0px; top:0px; width:900px; height:200px;")        
                      //-   | ค่ายเจาะลึกวิชาเว็บมาสเตอร์ครั้งที่ 13
                      //-   br
                      //-   | หากคุณคือผู้กล้า มาร่วมปฏิวัติวงการไปกับเรา
                      div(style="position:absolute; left:0px; top:0px; background: url('../images/landing/head/sponsor.png') no-repeat; background-size:contain;")
                      div.next(style="position:absolute; cursor:pointer; left:0px; top:0px; width:30px; height:14px; background: url('../images/landing/head/arrow_main.png') no-repeat; background-size:contain;")        
