nav.navbar.navbar-default.navbar-fixed-top(style='display:none;')
    div.main
    img#slack-top(src='../images/landing/present/tab-header.svg')
    div.navbar-header
      button.navbar-toggle.collapsed(type='button',data-toggle='collapse',data-target='#navbar-collapse',aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    
    div#navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li 
          a.register(style='cursor:pointer;') login
        li
          a.detail(style='cursor:pointer;') register
        li
          a.contact(style='cursor:pointer;') facebook
        li
          a.contact(style='cursor:pointer;') twitter
        li
          a.contact(style='cursor:pointer;') gg
