section#newsfeed
  div.container
    div.row
      div.col-xs-12.col-sm-6.col-md-3.each
        
        div.sub-head.font-bold /คำถามใหม่
        div.sub-head.font-bold 752
        div 
      div.col-xs-12.col-sm-6.col-md-3.each
        
        div.sub-head.font-bold /คำถามยอดฮิต
        div.sub-head.font-bold 76
        div 
      div.col-xs-12.col-sm-6.col-md-3.each
        
        div.sub-head.font-bold /คำถามพลีชีพ
        div.sub-head.font-bold 215
      div.col-xs-12.col-sm-6.col-md-3.each
       
        div.sub-head.font-bold /คำถามที่ไร้คำตอบ
        div.sub-head.font-bold 380
       
    div.space
    
    div.row
      div.col-xs-12
        div.title-head-large.font-bold สถานที่จัดค่าย
  
  div.map
    div.shade
      div.show
      div.btn
        img.img-responsive(src='../images/landing/place/show-map.png',width='500')
