section#place
  div.container
    div.row
      div.col-xs-12.col-sm-6.col-md-3.text-center.each
        img.img-responsive.center-block(src='../images/landing/place/regist.svg',width='100')
        div.sub-head.font-bold รับสมัคร
        div สิงหาคม - ตุลาคม
        div 2558
      div.col-xs-12.col-sm-6.col-md-3.text-center.each
        img.img-responsive.center-block(src='../images/landing/place/date.svg',width='130')
        div.sub-head.font-bold วันจัดค่าย
        div 7-10 มกราคม
        div 2559
      div.col-xs-12.col-sm-6.col-md-3.text-center.each
        img.img-responsive.center-block(src='../images/landing/place/place.svg',width='100')
        div.sub-head.font-bold สถานที่
        div มหาวิทยาลัยศรีนครินทรวิโรฒ ประสานมิตร
      div.col-xs-12.col-sm-6.col-md-3.text-center.each
        img.img-responsive.center-block(src='../images/landing/place/interview.svg',width='165')
        div.sub-head.font-bold สถานที่สัมภาษณ์
        div อาคารซีพี ทาวเวอร์ ชั้นที่ 11
        div (ใกล้ BTS ศาลาแดง)
    
    div.space
    
    div.row
      div.col-xs-12
        div.title-head-large.font-bold สถานที่จัดค่าย
  
  div.map
    div.shade
      div.show
      div.btn
        img.img-responsive(src='../images/landing/place/show-map.png',width='500')
