section#pr
  div.container
    div.row
      div.col-xs-12
        div.title-head-large.font-bold เว็บไซต์ที่ร่วมประชาสัมพันธ์
      div.col-xs-12
        a(href='../../affiliates/',target='_blank')
          img.img-responsive.center-block(src='../images/landing/pr/btn.png')
      //- div.col-xs-12
      //-   div.container-fluid
      //-     div.row
      //-       div.col-xs-6.col-sm-4.col-md-3 WWWWWWWWWWWWW
      //-       div.col-xs-6.col-sm-4.col-md-3 WWWWWWWWWWWWW
      //-       div.col-xs-6.col-sm-4.col-md-3 WWWWWWWWWWWWW
      //-       div.col-xs-6.col-sm-4.col-md-3 WWWWWWWWWWWWW
      //-       div.col-xs-6.col-sm-4.col-md-3 WWWWWWWWWWWWW
      //-       div.col-xs-6.col-sm-4.col-md-3 WWWWWWWWWWWWW
      //-       div.col-xs-6.col-sm-4.col-md-3 WWWWWWWWWWWWW
      //-       div.col-xs-6.col-sm-4.col-md-3 WWWWWWWWWWWWW
      //-       div.col-xs-6.col-sm-4.col-md-3 WWWWWWWWWWWWW
      //-       div.col-xs-6.col-sm-4.col-md-3 WWWWWWWWWWWWW
