section#present
  div.main
    div.row
      div.col-xs-12.wrapper
        div.back-present.navbar-fixed-top.img-responsive(style="background: #0f1f2f url('../images/landing/present/bg-present.png')")
        div.font-present
          div#computer
            img.img-responsive(src='../images/landing/present/computer.png')