section#present
  div.container
    div.row
      div.col-xs-12.wrapper
        div.back-present.navbar-fixed-top.img-responsive(style="background: #0f1f2f url('../images/landing/present/bg-present.png')")
        div.font-present
          div#computer
            img.img-responsive(src='../images/landing/present/computer.png')
            div#slider
            ul#sliderContent
              li#com1
                img.slide-image-show(src='../images/landing/present/com1.svg' title="CLICK")
              li#com2
                img.slide-image-show(src='../images/landing/present/com2.svg' title="Hello")        
              li#com3
                img.slide-image-show(src='../images/landing/present/com3.svg' title="Vote")
              li#com4
                img.slide-image-show(src='../images/landing/present/com4.svg' title="Rank")

          div#show-text
            img#text1(src='../images/landing/present/text1.png')
            img#text2(src='../images/landing/present/text2.png')
            input#search-bar(type="text" onkeydown="search()" placeholder="จะหาอะไรก็เสริชเอาเลย" style="background: rgba(217, 219, 227, 0.74) url('../images/landing/present/search.png') no-repeat scroll 10px 2px; background-size: 6%; background-position-y: center;")
          div.plain
            div.shadow
                        
              
              
            

