section#whatis
  div.container
    div.row
      //- div.col-md-6.col-xs-12.head.text-center
      //-   div.font-bold 
      //-     | Young Web Master Camp 13
      //-     sup TH
      //-   div.font-bold(style='margin-top: 7px;') ค่ายเจาะลึกวิชาเว็บมาสเตอร์ ครั้งที่ 13
      //- div.col-md-12(style='margin-top:40px;')
      //- div.col-md-offset-3.col-md-9.intro-head.font-bold.text-center
      //-   | ค่ายคืออะไร ?
      //- div.col-md-offset-3.col-md-9.description.text-center
      //-   div YWC หรือ Young Webmaster Camp เป็นค่ายที่จัดอบรมให้แก่นิสิต-นักศึกษา 
      //-   div ที่กำลังศึกษาอยู่ในระดับปริญญาตรีจากมหาวิทยาลัยหรือสถาบันต่างๆ
      //-   div ทั่วประเทศ ที่มีความสนใจในการพัฒนาเว็บไซต์
      //-   div เพื่อเข้ามาเป็นส่วนหนึ่งของเว็บมาสเตอร์รุ่นใหม่ของประเทศไทย 
      //-   div โดยมิได้จำกัดเฉพาะผู้ที่เรียนสาย IT
      //-   div หรือสาขาที่เกี่ยวข้องกับการพัฒนาเว็บไซต์โดยตรง
      div.col-xs-12.head.text-center
        div.font-bold
        div.font-bold(style='margin-top: 7px;') ค่ายเจาะลึกวิชาเว็บมาสเตอร์ ครั้งที่ 13
      div.col-xs-12.space
      div.col-xs-12.intro-head.font-bold.text-center
        | ค่ายนี้คืออะไร ?
      div.col-xs-12.description.text-center
        div การเดินทางของ Young Webmaster Camp ได้ก้าวมาถึงปีที่ 13 แล้ว
        div ค่ายที่จะพาน้องๆ มาปฏิวัติแนวการสร้างเว็บไซต์ร่วมกับเพื่อนๆ ในสาขาต่างๆ จากหลากคณะ หลายสถาบัน
        div ทั้งยังได้มีโอกาสเรียนรู้เทคนิคและประสบการณ์จากกูรูชื่อดังในวงการเว็บไซต์หลายท่าน
        div ที่สำคัญคือการฝ่าด่านพรีเซนต์สุดมันและรับฟังคำวิจารณ์เด็ดๆ จากมืออาชีพ
        br
        div และบัดนี้เราพร้อมเปิดรับสมาชิกที่จะเข้ามาร่วมก้าวที่ 13 ไปด้วยกัน
        div เพื่อขับเคลื่อนไอเดียและความคิดสร้างสรรค์ปฎิวัติวงการ ก้าวสู่ความเป็นมืออาชีพด้านเว็บมาสเตอร์
        div หากน้องๆ เป็นนักศึกษาระดับปริญญาตรีหรือเทียบเท่า ก็ขอเชิญมาเริ่มต้นก้าวแห่งการปฏิวัติไปด้วยกัน
