div#circle
  div.container
    div.radial-progress(data-score='3')
      div.circle
        div.mask.full
          div.fill
        div.mask.half
          div.fill
          div.fill.fix
      div.inset
        span.big 25
        span.little .4%