section#present
  div.container
    div.row
      div.col-xs-12.wrapper
        div.back-present.navbar-fixed-top.img-responsive(style="background: #0f1f2f url('../images/landing/present/bg-present.png')")
        div.plain
            div.shadow
            div.icon-scroll
        div.font-present
          div#computer
            img.img-responsive(src='../images/landing/present/computer.png')
            div#showprofile
            ul#prfileContent
              li#com1
              li#com2
              

          div#show-text
            
            input#search-bar(type="text" onkeydown="search()" placeholder="หา Userอื่น..." style="background: rgba(217, 219, 227, 0.74) url('../images/landing/present/search.png') no-repeat scroll 10px 2px; background-size: 6%; background-position-y: center; color: #fff ")
            div.stat-area
              ul
                li
                  div.text-ask-area
                    p กระทู้ที่ถาม
                    h1 27
                li
                  div.text-ans-area
                    p กระทู้ที่ตอบ
                    h1 198
                li
                  div.text-vote-area
                    p กระทู้ที่โหวต
                    h1 14k

            div.circle-area
              ul
                li
                  div.first-area
                    p Python

                    h1 score 1,200
                    h1 posts 421
                li
                  div.second-area
                    p C++

                    h1 score 452
                    h1 posts 104
                li
                  div.third-area
                    p Java

                    h1 score 98
                    h1 posts 25


          
