#slack-top {
  width: 100%;
  position: absolute;
  top: 0; }

.navbar-default {
  background-color: rgba(2, 1, 2, 0.61);
  border-color: transparent;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .navbar-default:hover {
    background-color: rgba(2, 1, 2, 0.9);
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s; }
  .navbar-default .navbar-brand {
    color: #fbfbfb; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #fbfbfb; }
  .navbar-default .navbar-text {
    color: #fbfbfb; }
  .navbar-default .navbar-nav {
    margin: 0.8em 6% 0.4em 0;
    font-size: smaller; }
    @media screen and (min-width: 1350px) {
      .navbar-default .navbar-nav {
        margin: 1em 11% 0.6em 0; } }
    .navbar-default .navbar-nav > li > .register {
      border: 2px solid #70CBCE;
      padding: 12.5px;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .navbar-default .navbar-nav > li > .register:hover {
        padding-right: 8.5em;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
    .navbar-default .navbar-nav > li > a {
      color: #70CBCE;
      font-size: .9em;
      line-height: 0px; }
      .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #fbfbfb; }
    .navbar-default .navbar-nav > li > .contact {
      padding: 7px 7px;
      text-align: center;
      color: #fff; }
    .navbar-default .navbar-nav > li > .detail {
      padding-right: 1.0em; }
    .navbar-default .navbar-nav > li > .fa {
      line-height: 0; }
    .navbar-default .navbar-nav > .contact-size {
      width: 1.7rem;
      border-radius: 50px;
      transition: all 0.1s; }
      .navbar-default .navbar-nav > .contact-size:hover, .navbar-default .navbar-nav > .contact-size:focus, .navbar-default .navbar-nav > .contact-size:active {
        animation: pulse 0.2s ease; }
    .navbar-default .navbar-nav > .li-facebook:hover, .navbar-default .navbar-nav > .li-facebook:focus, .navbar-default .navbar-nav > .li-facebook:active {
      background-color: #45619D; }
    .navbar-default .navbar-nav > .li-twitter:hover, .navbar-default .navbar-nav > .li-twitter:focus, .navbar-default .navbar-nav > .li-twitter:active {
      background-color: #32CDFD; }
    .navbar-default .navbar-nav > .li-google-plus:hover, .navbar-default .navbar-nav > .li-google-plus:focus, .navbar-default .navbar-nav > .li-google-plus:active {
      background-color: #DD4B39; }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #fbfbfb;
      background-color: transparent; }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      color: #fbfbfb;
      background-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: transparent; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: transparent; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fbfbfb; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #fbfbfb; }
  .navbar-default .navbar-link {
    color: #fbfbfb; }
    .navbar-default .navbar-link:hover {
      color: #fbfbfb; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fbfbfb; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #fbfbfb; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fbfbfb;
    background-color: transparent; } }

::-webkit-input-placeholder {
  font-size: 0.9em;
  color: #555; }

/* Webkit */
:-moz-placeholder {
  font-size: 0.9em;
  color: #555; }

/* Firefox <= 18 */
::-moz-placeholder {
  font-size: 0.9em;
  color: #555; }

/* Firefox >= 19 */
:-ms-input-placeholder {
  font-size: 0.9em;
  color: #555; }

/* Internet Explorer */
#present {
  font-size: 1.7rem; }
  #present .back-present {
    width: 100%;
    height: 590px;
    background-color: #0f1f2f;
    background-repeat: no-repeat !important;
    z-index: 1;
    position: relative; }
  #present .plain {
    background-color: #70CBCE;
    width: 100%;
    height: 220px;
    position: relative;
    /* top: 90%; */
    margin-top: -4%;
    z-index: 0;
    overflow: hidden; }
    #present .plain .shadow {
      margin-top: 6.1%;
      width: 60%;
      background: linear-gradient(#0f1f2f 55%, #1e3849);
      height: 83.8%;
      transform: skewX(52deg);
      margin-left: 8%; }
    #present .plain .icon-scroll, #present .plain .icon-scroll:before {
      position: absolute;
      left: 50%; }
    #present .plain .icon-scroll {
      width: 30px;
      height: 50px;
      margin-left: -20px;
      top: 70%;
      margin-top: -35px;
      box-shadow: inset 0 0 0 1px #70CBCE;
      border-radius: 25px; }
    #present .plain .icon-scroll:before {
      content: '';
      width: 8px;
      height: 8px;
      background: #70CBCE;
      margin-left: -4px;
      top: 8px;
      border-radius: 4px;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: scroll;
      animation-name: scroll; }

@-webkit-keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(26px); } }

@keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(26px); } }
  #present .font-present {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 105px; }
    #present .font-present #computer img {
      width: 60%;
      z-index: 6;
      position: relative; }
    #present .font-present #show-text {
      position: absolute;
      right: 6%;
      top: 0;
      width: 100%;
      padding-left: 63%; }
      #present .font-present #show-text img:first-child {
        border-bottom: 0.3em solid #70CBCE;
        width: 100%; }
      #present .font-present #show-text img {
        width: 100%; }
      #present .font-present #show-text input:focus {
        outline: 0; }
      #present .font-present #show-text #search-bar {
        background-color: rgba(217, 219, 227, 0.74);
        color: #0f1f2f;
        border-color: transparent;
        border-radius: 12px;
        width: 100%;
        height: 1.3em;
        text-align: center;
        overflow: hidden;
        line-height: normal;
        cursor: cell; }
        #present .font-present #show-text #search-bar:hover {
          background-color: #000000; }
    #present .font-present #sliderContent li img {
      width: 100%;
      padding-right: 3%; }
    #present .font-present #com1 img {
      cursor: pointer;
      padding-left: 6%; }
    #present .font-present .bx-wrapper {
      top: 8%;
      position: absolute;
      z-index: 7;
      border: 0;
      background: transparent;
      box-shadow: 0 0 0;
      max-width: 51% !important; }
    #present .font-present .bx-viewport {
      border: 0;
      background: transparent;
      box-shadow: 0 0 0;
      position: static !important; }
    #present .font-present .bx-caption {
      /*
		height: 1.5em;
		text-align: center;
*/
      display: none; }
    #present .font-present .bx-controls {
      display: none; }
    #present .font-present .bx-pager {
      display: inline; }
    @media screen and (max-width: 767px) {
      #present .font-present {
        font-size: 1rem; } }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes rotatingReverse {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
  #present .rotable {
    animation: rotating 25s linear infinite; }
  #present .rotable-reverse {
    animation: rotatingReverse 25s linear infinite; }

#categories {
  background-size: cover;
  padding-top: 0px; }
  #categories > .all-content {
    padding-bottom: 80px;
    background: rgba(17, 25, 47, 0.5); }
  #categories .top-space {
    height: 80px;
    background: rgba(17, 25, 47, 0.5);
    background-size: 100% 100%; }
    @media screen and (max-width: 767px) {
      #categories .top-space {
        height: 40px; } }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      #categories .top-space {
        height: 60px; } }
  #categories .container-fluid a {
    color: #fff; }
  #categories .logo {
    padding-top: 60px; }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      #categories .logo {
        padding-top: 30px; } }
  #categories .cat-title {
    margin: 25px 0;
    font-size: 1.4rem; }
    @media screen and (max-width: 767px) {
      #categories .cat-title {
        margin: 17px 0; } }
  #categories .cat-des {
    font-size: 1.2rem;
    line-height: 120%;
    margin-bottom: 36px; }
    @media screen and (max-width: 767px) {
      #categories .cat-des {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px; } }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      #categories .cat-des {
        margin-bottom: 20px; } }
  #categories .cat-more {
    font-size: 1.7rem;
    margin-bottom: 24px;
    cursor: pointer; }
    @media screen and (max-width: 767px) {
      #categories .cat-more {
        font-size: 1.4rem;
        margin-bottom: 16px; } }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      #categories .cat-more {
        font-size: 1.5rem;
        margin-bottom: 16px; } }
  #categories .detail-1:hover {
    color: #00AEEF; }
  #categories .detail-2:hover {
    color: #F7941E; }
  #categories .detail-3:hover {
    color: #EF4136; }
  #categories .detail-4:hover {
    color: #00A79D; }
  #categories .counting {
    font-size: 1.5rem;
    margin-bottom: 16px; }
  #categories .counting-num {
    font-size: 3rem;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      #categories .counting-num {
        font-size: 2rem;
        margin-bottom: 16px; } }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      #categories .counting-num {
        font-size: 2.5rem; } }
  #categories .register-btn {
    font-size: 1.5rem;
    padding: 16px 32px;
    display: inline-block;
    border: 3px solid #FFF;
    background: transparent;
    transition: all 0.2s; }
    @media screen and (max-width: 767px) {
      #categories .register-btn {
        font-size: 1.2rem;
        border-width: 2px; } }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      #categories .register-btn {
        font-size: 1.3rem;
        padding: 12px 32px; } }
  #categories .register-btn:hover {
    border-radius: 30px; }
  #categories .content .cat-title {
    color: #00AEEF; }
  #categories .design .cat-title {
    color: #F7941E; }
  #categories .marketing .cat-title {
    color: #EF4136; }
  #categories .programming .cat-title {
    color: #01A096; }

#sponsor {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media screen and (max-width: 767px) {
    #sponsor {
      padding-top: 20px;
      padding-bottom: 20px; } }
  @media screen and (min-width: 768px) and (max-width: 1366px) {
    #sponsor {
      padding-top: 40px;
      padding-bottom: 40px; } }
  #sponsor .sponsor {
    width: 80%;
    margin-top: 7%; }
  #sponsor .space {
    height: 60px; }
    @media screen and (max-width: 767px) {
      #sponsor .space {
        height: 0px; } }
  #sponsor .big, #sponsor .medium, #sponsor .small {
    margin-top: 20px; }
  #sponsor .big {
    background: url("../images/landing/sponsor/frame.png");
    background-size: cover;
    padding: 18px; }
    @media screen and (max-width: 767px) {
      #sponsor .big {
        padding: 12px; } }

#guru {
  background: rgba(17, 25, 47, 0.5);
  padding-top: 120px; }
  @media screen and (max-width: 767px) {
    #guru {
      padding-top: 30px; } }
  @media screen and (min-width: 768px) and (max-width: 1366px) {
    #guru {
      padding-top: 80px; } }
  #guru .space {
    height: 60px; }
    @media screen and (max-width: 767px) {
      #guru .space {
        height: 20px; } }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      #guru .space {
        height: 20px; } }
  #guru .hidden-xs .ground-wrapper .ground {
    position: relative;
    background: url("../images/landing/guru/ground.png");
    background-size: cover; }
    #guru .hidden-xs .ground-wrapper .ground .img {
      background-size: cover;
      position: absolute;
      left: 0px;
      top: 0px; }
    #guru .hidden-xs .ground-wrapper .ground .description {
      font-size: 1.5rem;
      padding: 20px;
      background: #08111C;
      box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5); }
  #guru .visible-xs img {
    padding: 5px; }
  #guru .visible-xs .description {
    margin: 0 10px;
    padding: 10px 0px 25px;
    font-size: 1.5rem; }
    #guru .visible-xs .description .font-bold {
      margin-bottom: 10px; }

#whatis {
  margin: 60px 0;
  font-size: 1.2rem; }
  @media screen and (max-width: 767px) {
    #whatis {
      margin: 30px 0; } }
  #whatis .head {
    font-size: 1.7rem;
    margin-bottom: 40px; }
    @media screen and (max-width: 767px) {
      #whatis .head {
        font-size: 1.5rem; } }
    #whatis .head sup {
      font-size: 50%;
      vertical-align: top; }
  #whatis .space {
    margin-top: 40px; }
    @media screen and (max-width: 767px) {
      #whatis .space {
        margin-top: 0px; } }
  #whatis .description {
    font-size: 1.5rem;
    line-height: 120%; }
    @media screen and (max-width: 767px) {
      #whatis .description {
        font-size: 1.3rem; } }
  #whatis .intro-head {
    font-size: 1.6rem;
    margin-bottom: 14px; }
    @media screen and (max-width: 767px) {
      #whatis .intro-head {
        font-size: 1.4rem; } }

#newsfeed {
  margin-top: 0%;
  padding: 0; }
  @media screen and (max-width: 767px) {
    #newsfeed {
      margin-top: 20px; } }
  #newsfeed .space {
    margin: 50px 0; }
    @media screen and (max-width: 767px) {
      #newsfeed .space {
        margin: 20px 0; } }
  #newsfeed .each {
    padding-bottom: 2.5%;
    background-color: #0f1f2f;
    cursor: pointer;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    #newsfeed .each .font-bold {
      margin: 20px 0 5px; }
    #newsfeed .each:hover {
      background-color: #1F5F76;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    #newsfeed .each:active {
      background-color: rgba(31, 95, 118, 0.8);
      box-shadow: inset 2px 2px 10px 2px #0f1f2f; }
  #newsfeed .selected {
    background-color: #1F5F76;
    box-shadow: inset 0px -4px 0px 0px rgba(112, 203, 206, 0.5);
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  #newsfeed .sub-head {
    margin-bottom: 4px;
    margin-top: 9px;
    font-size: 2rem; }
  #newsfeed .feed {
    background-color: #193349;
    width: 100%;
    height: auto; }
    #newsfeed .feed .q-menu {
      width: 80%;
      margin: 0 auto;
      padding-top: 5%;
      padding-bottom: 5%;
      vertical-align: middle;
      display: block; }
      #newsfeed .feed .q-menu .fa-plus-circle {
        font-size: 1.5rem; }
    #newsfeed .feed .sub-head {
      margin: 0; }
    #newsfeed .feed #slack-mid {
      width: 100%;
      display: block;
      margin: 0 auto;
      padding-bottom: 3%; }
    #newsfeed .feed #qlist-wrapper {
      clear: both; }
    #newsfeed .feed #question-mini-list {
      overflow: auto; }
    #newsfeed .feed .question-summary {
      padding: 12px 0 10px 0;
      border-bottom: 1px solid #70CBCE;
      float: left;
      width: 100%;
      overflow: hidden; }
      #newsfeed .feed .question-summary:last-child {
        border-bottom: 0px;
        padding-bottom: 2.5rem; }
    #newsfeed .feed .cp {
      vertical-align: top;
      float: left;
      margin-right: 10px; }
    #newsfeed .feed .narrow .mini-counts {
      font-size: 17px;
      font-weight: 300;
      color: #fff;
      margin-bottom: 4px; }
    #newsfeed .feed .text-vote {
      color: #70CBCE; }
    #newsfeed .feed .text-answer {
      color: #70CBCE; }
    #newsfeed .feed .text-view {
      color: #70CBCE; }
    #newsfeed .feed .narrow .votes {
      display: inline-block;
      height: 38px;
      min-width: 38px;
      margin: 0 3px 0 0;
      font-size: 11px;
      padding: 5px 5px 6px 5px; }
    #newsfeed .feed .votes {
      padding: 0;
      margin-bottom: 8px;
      text-align: center; }
    #newsfeed .feed .narrow .status {
      display: inline-block;
      height: auto;
      margin: 0 3px 0 0;
      min-width: 44px;
      font-size: 11px;
      padding: 6px; }
    #newsfeed .feed .status {
      padding: 0;
      margin-bottom: 8px;
      text-align: center; }
    #newsfeed .feed .narrow .views {
      display: inline-block;
      height: 38px;
      min-width: 40px;
      margin: 0 7px 0 0;
      font-size: 11px;
      padding: 5px 5px 6px 5px; }
    #newsfeed .feed .views {
      padding-top: 4px;
      text-align: center; }
    #newsfeed .feed .narrow .summary {
      width: 80%;
      padding: 0;
      float: left; }
    #newsfeed .feed .summary {
      float: left; }
    #newsfeed .feed .summary h3 {
      font-size: 15px;
      line-height: 1.4;
      margin-bottom: .5em; }
    #newsfeed .feed .question-hyperlink {
      color: #4674a9;
      line-height: 1.3;
      margin-bottom: 1.2em;
      font-size: 16px;
      font-weight: bolder; }
      #newsfeed .feed .question-hyperlink:hover {
        color: #70CBCE; }
    #newsfeed .feed .tags {
      line-height: 18px;
      float: left; }
    #newsfeed .feed .tags a {
      padding: 0.1rem 0.5rem; }
    #newsfeed .feed .post-tag {
      color: #70CBCE;
      font-size: 12px;
      white-space: nowrap;
      border: 2px solid #70CBCE;
      display: inline-block;
      margin: 2px 0.4rem 2px 0;
      border-radius: 0;
      -moz-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
      -o-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
      -webkit-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
      transition: color 0.15s ease, background 0.15s ease, border 0.15s ease; }
      #newsfeed .feed .post-tag:hover {
        color: #fff;
        border-color: #1F5F76; }
      #newsfeed .feed .post-tag:active {
        color: #1F5F76; }
    #newsfeed .feed .narrow .started {
      width: auto;
      line-height: inherit;
      padding-top: 4px;
      white-space: nowrap; }
    #newsfeed .feed .started {
      width: 185px;
      float: right;
      line-height: 18px;
      font-size: .8rem; }
      @media screen and (max-width: 640px) {
        #newsfeed .feed .started {
          display: none; } }
    #newsfeed .feed .started-link {
      color: #70CBCE; }
    #newsfeed .feed .fa {
      color: #70CBCE;
      font-weight: bold; }
      #newsfeed .feed .fa i {
        color: #fff; }
    #newsfeed .feed .relativetime {
      color: #4674a9; }
      #newsfeed .feed .relativetime:hover {
        color: #1F5F76; }
    #newsfeed .feed .user-post {
      color: #70CBCE; }
      #newsfeed .feed .user-post:hover {
        color: #1F5F76; }
    #newsfeed .feed .more {
      color: #70CBCE;
      font-size: 1rem;
      width: 10%;
      margin: 0 auto;
      border: 3px solid #70CBCE;
      padding: .4rem;
      text-align: center;
      cursor: pointer;
      -moz-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
      -o-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
      -webkit-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
      transition: color 0.15s ease, background 0.15s ease, border 0.15s ease; }
      #newsfeed .feed .more:hover {
        color: #fff;
        border-color: #fff; }
      #newsfeed .feed .more:active {
        border-color: #1F5F76; }

#qa .begin {
  padding-top: 40px;
  font-size: 1.5rem; }
  #qa .begin .box {
    margin: 20px 0px;
    padding: 20px;
    border: 2px solid #FFF; }
    #qa .begin .box .q {
      margin-bottom: 12px;
      color: #5DD8D8; }

#qa .btn {
  margin-top: 10px; }
  #qa .btn img {
    cursor: pointer; }

footer {
  background-color: #0f1f2f;
  background-size: 100% 100%;
  padding: 20px;
  font-size: 1rem; }
  footer .head {
    font-size: 2rem;
    margin-bottom: 4px; }
  footer div.container-fluid .row .col-xs-6 {
    margin-top: 5%;
    width: 22%; }
    footer div.container-fluid .row .col-xs-6 img {
      cursor: pointer; }

#timeline > .top-content {
  padding-top: 40px;
  background: rgba(17, 25, 47, 0.5); }

#timeline .bottom-space {
  background: url("../images/landing/bg/bg-2.png");
  background-size: 100% 100%;
  height: 160px; }
  @media screen and (max-width: 767px) {
    #timeline .bottom-space {
      height: 60px; } }

#timeline .head {
  margin: 30px 0;
  margin-bottom: 80px; }
  @media screen and (max-width: 991px) {
    #timeline .head {
      margin-bottom: 20px; } }
  @media screen and (min-width: 768px) and (max-width: 1366px) {
    #timeline .head {
      margin-top: 20px;
      margin-bottom: 40px; } }

#timeline .day {
  font-size: 1.4rem;
  padding: 10px 20px; }
  @media screen and (max-width: 991px) {
    #timeline .day {
      font-size: 1.3rem;
      padding: 14px 0; } }
  @media screen and (min-width: 768px) and (max-width: 1366px) {
    #timeline .day {
      font-size: 1.3rem;
      padding: 3px 25px; } }

#social .block {
  margin-bottom: 30px; }

section {
  padding: 0 !important; }

.container {
  padding: 0; }

.font-bold {
  font-family: 'quarkbold', Roboto, Arial, Tahoma, sans-serif; }

.font-light, body {
  font-family: 'quarklight', Roboto, Arial, Tahoma, sans-serif; }

a {
  color: #fff;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

html {
  width: 100%; }

body {
  font-size: 120%;
  background: #252830;
  color: #FFF;
  overflow-x: hidden; }
  @media screen and (max-width: 767px) {
    body {
      font-size: 100%; } }
  body .bg-parallax {
    transition: all 1s; }

.modal.in {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

section {
  padding: 20px 0; }
  section .title-head, section .title-head-large {
    text-align: center;
    font-size: 2rem; }
    @media screen and (max-width: 767px) {
      section .title-head, section .title-head-large {
        font-size: 1.3rem; } }
  section .title-head-large {
    font-size: 2.5rem;
    margin-top: 10px; }
    @media screen and (max-width: 767px) {
      section .title-head-large {
        font-size: 2rem; } }
