#categories {

  background-size: cover;
  padding-top: 0px;

  & > .all-content {
    padding-bottom: 80px;
    background: rgba(17,25,47,.5);
  }

  // .top-space {
  //   height: 180px;
  //   background: url('../images/landing/bg/bg-1.png');
  //   background-size: 100% 100%;
  //   @media screen and (max-width: 767px) {
  //     height: 70px;
  //   }
  //   @media screen and (min-width: 768px) and (max-width: 1366px) {
  //     height: 100px;
  //   }
  // }

  .top-space {
    height: 80px;
    background: rgba(17,25,47,.5);
    background-size: 100% 100%;
    @media screen and (max-width: 767px) {
      height: 40px;
    }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      height: 60px;
    }
  }

  .container-fluid a{
	  color: #fff;
  }

  .logo {
    padding-top: 60px;
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      padding-top: 30px;
    }
  }

  .cat-title {
    margin: 25px 0;
    font-size: 1.4rem;
    @media screen and (max-width: 767px) {
      margin: 17px 0;
    }
  }
  .cat-des {
    font-size: 1.2rem;
    line-height: 120%;
    margin-bottom: 36px;
    @media screen and (max-width: 767px) {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      margin-bottom: 20px;
    }
  }
  .cat-more {
    font-size: 1.7rem;
    margin-bottom: 24px;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      font-size: 1.4rem;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      font-size: 1.5rem;
      margin-bottom: 16px;
    }
  }

  .detail-1:hover{
	  color: #00AEEF;
  }

  .detail-2:hover{
	  color: #F7941E;
  }

  .detail-3:hover{
	  color: #EF4136;
  }

  .detail-4:hover{
	  color: #00A79D;
  }

  .counting {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  .counting-num {
    font-size: 3rem;
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
      font-size: 2rem;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      font-size: 2.5rem;
    }
  }
  .register-btn {
    font-size: 1.5rem;
    padding: 16px 32px;
    display: inline-block;
    border: 3px solid #FFF;
    background: transparent;
    transition: all 0.2s;
    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
      border-width: 2px;
    }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      font-size: 1.3rem;
      padding: 12px 32px;
    }
  }

  .register-btn:hover {
    border-radius: 30px;
  }


  .content {
    .cat-title {
      color: #00AEEF;
    }
  }

  .design {
    .cat-title {
      color: #F7941E;
    }
  }

  .marketing {
    .cat-title {
      color: #EF4136;
    }
  }

  .programming {
    .cat-title {
      color: #01A096;
    }
  }
}
