#guru {
  background: rgba(17,25,47,.5);
  padding-top: 120px;
  @media screen and (max-width: 767px) {
    padding-top: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1366px) {
    padding-top: 80px;
  }

  .space {
    height: 60px;
    @media screen and (max-width: 767px) {
      height: 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 1366px) {
      height: 20px;
    }
  }

  .hidden-xs {
    .ground-wrapper {
      .ground {
        position:relative;
        background: url('../images/landing/guru/ground.png');
        background-size: cover;

        .img {
          background-size: cover;
          position: absolute;
          left: 0px;
          top: 0px;
        }

        .description {
          font-size: 1.5rem;
          padding: 20px;
          background: #08111C;
          box-shadow: 0px 0px 60px rgba(0,0,0,.5);
        }
      }
    }
  }

  .visible-xs {
    img {
      padding: 5px;
    }
    .description {
      margin: 0 10px;
      padding: 10px 0px 25px;
      font-size: 1.5rem;

      .font-bold {
        margin-bottom: 10px;
      }
    }
  }
}
