footer
  div.container
    div.row
      div.col-xs-12.col-sm-6.col-md-3.text-center(style='margin:20px 0;')
        img.img-responsive.center-block(src='../images/landing/footer/logo.svg',width='150',style='margin-bottom:8px; -webkit-filter: invert(100%);')
        div Bugcoli.com 2015
        div All Right Reserved
        div Designed and Managed by #BUGGY
      div.col-xs-12.col-sm-6.col-md-3.text-center(style='margin:20px 0;')
        div.head About Bugcoli
        div ชุมชนออนไลน์
        div และคอมมูนิตี้สุดยิ่งใหญ่
        div ศูนย์รวมสำหรับ
        div คอโปรแกรมเมอร์ทั่วประเทศ
      div.col-xs-12.col-sm-6.col-md-3.text-center(style='margin:20px 0;')
        div.head Follow Us
        div.container-fluid
          div.row(style='display:flex; margin-left: 0px;')
            div.col-xs-6
              img(src='../images/landing/footer/facebook.svg',width='30')
             
            div.col-xs-6
              img(src='../images/landing/footer/twitter.svg',width='30')

            div.col-xs-6
              img(src='../images/landing/footer/youtube.svg',width='30')
              
            div.col-xs-6
              img(src='../images/landing/footer/ig.svg',width='30')
              
      div.col-xs-12.col-sm-6.col-md-3.text-center(style='margin:20px 0;')
        div.head Contact
        div E-mail holyboom@me.com
        div(style='font-size:0.8rem; margin-top:8px;') Sponsored by
        img(src='../images/landing/footer/university.png',width='50')
        div.container-fluid
          div.row
            div.col-xs-3
            div.col-xs-3
            div.col-xs-3
            div.col-xs-3
