mixin article()
  div#question-mini-list
    div.question-summary.narrow#question-summary-0                                             
      div.summary
        div.title-area
          h3 
             a.question-hyperlink(href="" title="I am trying to load data into mysql from a .dat file.") Loading data into mysql from a file on live server
          div.bookmark-area
            i.fa.fa-bookmark
              i.fa.fa-star
        div.tags.t-mysql.t-sql
           a.post-tag(href='/questions/tagged/mysql' title='show questions tagged' rel='tag') mysql
           a.post-tag(href='/questions/tagged/mysql' title='show questions tagged' rel='tag') sql
        div.started
            <i class="fa fa-angle-up"></i> 809
            <i class="fa fa-angle-down"></i> 180 
            a.started-link(href="") ถาม 
               span.relativetime(title="2015-11-02 06:13:30Z") เมื่อ 24:45... by 
               a.user-post(href="/users/3733831/user3733831") user3733831 


section#home-suggest
  div.container
    div.row
      div.col-xs-12.wrapper
        div.back-present.navbar-fixed-top.img-responsive(style="background: #0f1f2f url('../images/landing/present/bg-present.png')")
        
          div.contain-present
            div.font-present
              div#computer
                img.img-responsive(src='../images/landing/present/full-computer.png')

                div.suggest-area
                  div.nav-suggest
                    h1 ตอบได้ป่ะล่า?
                  div#qlist-wrapper
                    div#question-mini-list
                      div.question-summary.narrow#question-summary-0                                             
                        div.summary
                          div.title-area
                            h3 
                               a.question-hyperlink(href="" title="I am trying to load data into mysql from a .dat file.") Loading data into mysql from a file on live server
                            div.bookmark-area
                              i.fa.fa-bookmark
                                i.fa.fa-star
                          div.tags.t-mysql.t-sql
                             a.post-tag(href='/questions/tagged/mysql' title='show questions tagged' rel='tag') mysql
                             a.post-tag(href='/questions/tagged/mysql' title='show questions tagged' rel='tag') sql
                          div.started
                              <i class="fa fa-angle-up"></i> 809
                              <i class="fa fa-angle-down"></i> 180 
                              a.started-link(href="") ถาม 
                                 span.relativetime(title="2015-11-02 06:13:30Z") เมื่อ 24:45... by 
                                 a.user-post(href="/users/3733831/user3733831") user3733831 
                    +article()
                    +article()
                    +article()
                    +article()
                    +article()
                    +article()
                    +article()
                    +article()
            div.plain
              div.icon-scroll
            
