nav.navbar.navbar-default.navbar-fixed-top
    div.main
    img#slack-top(src='../images/landing/present/tab-header.svg')
    div.navbar-header
      button.navbar-toggle.collapsed(type='button',data-toggle='collapse',data-target='#navbar-collapse',aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    
    div#navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li 
          a.register(href='../../landing/profile.html',target='_blank') Login
        li
          a.detail(href="") Register
        li.li-facebook.contact-size
          a.contact
            i.fa.fa-facebook
        li.li-twitter.contact-size
          a.contact
            i.fa.fa-twitter
        li.li-google-plus.contact-size
          a.contact
            i.fa.fa-google-plus
