section#sponsor
  div.container
    div.row
      div.col-xs-12
        div.title-head-large.font-bold สนับสนุนโดย
      
      div.col-xs-12
        div.space
      
      div.col-xs-10.col-xs-offset-1.col-sm-12.col-sm-offset-0.col-md-10.col-md-offset-1
        div.container-fluid
          div.row
            div.col-xs-12
              div.container-fluid
                div.row
                  div.col-xs-6.col-sm-3
                    div.big.text-center
                      div(style='background:white; width:100%; height:100%; border-radius:50%;')
                        img.sponsor(src='../images/landing/sponsor/association-01.png')
                  div.col-xs-6.col-sm-3
                    div.big.text-center
                      div(style='background:white; width:100%; height:100%; border-radius:50%;')
                        img.sponsor(src='../images/landing/sponsor/baidu-01.png')
                  div.col-xs-12.visible-xs
                  div.col-xs-6.col-sm-3
                    div.big.text-center
                      div(style='background:white; width:100%; height:100%; border-radius:50%;')
                        img.sponsor(src='../images/landing/sponsor/cpall-01.png')
                  div.col-xs-6.col-sm-3
                    div.big.text-center
                      div(style='background:white; width:100%; height:100%; border-radius:50%;')
                        img.sponsor(src='../images/landing/sponsor/swu-01.png')
                  div.col-xs-12
            
            //- div.col-sm-10.col-sm-offset-1.col-xs-12
            //-   div.container-fluid
            //-     div.row
            //-       div.col-xs-4.col-sm-3
            //-         div.medium.text-center
            //-           div(style='background-color: white; width:100%; height:100%; border-radius:50%;')
            //-       div.col-xs-4.col-sm-3
            //-         div.medium.text-center
            //-           div(style='background:white; width:100%; height:100%; border-radius:50%;')
            //-       div.col-xs-4.col-sm-3
            //-         div.medium.text-center
            //-           div(style='background:white; width:100%; height:100%; border-radius:50%;')
            //-       div.col-xs-12.visible-xs
            //-       div.col-xs-4.col-sm-3
            //-         div.medium.text-center
            //-           div(style='background:white; width:100%; height:100%; border-radius:50%;')
            //-       div.col-xs-12
            //- 
            //- div.col-xs-12
            //-   div.container-fluid
            //-     div.row
            //-       div.col-xs-3.col-sm-2
            //-         div.small.text-center
            //-           div(style='background:white; width:100%; height:100%; border-radius:50%;')
            //-       div.col-xs-3.col-sm-2
            //-         div.small.text-center
            //-           div(style='background:white; width:100%; height:100%; border-radius:50%;')
            //-       div.col-xs-3.col-sm-2
            //-         div.small.text-center
            //-           div(style='background:white; width:100%; height:100%; border-radius:50%;')
            //-       div.col-xs-3.col-sm-2
            //-         div.small.text-center
            //-           div(style='background:white; width:100%; height:100%; border-radius:50%;')
            //-       div.col-xs-12.visible-xs
      //-       div.col-xs-12
