section#timeline
  div.top-content
    div.container
      div.row
        div.col-xs-12.head
          div.title-head TIMELINE
          div.title-head-large.font-bold กำหนดการค่าย
        div.col-xs-12.hidden-xs.hidden-sm
          div.timeline-pic(style='position:relative; display:block; height:462px;')
            img(src="../images/landing/timeline/timeline.png",style='position:absolute; top:0px; left:178px;')
            div(style='position:absolute; top:13px; left:38px;')
              div.day(style='border-right:1px solid #fff;')
                div.font-bold 19 กันยายน 2558
                div เปิดรับสมัคร
            div(style='position:absolute; top:211px; left:29px;')
              div.day(style='border-right:1px solid #fff;')
                div.font-bold 31 ตุลาคม 2558
                div หมดเขตรับสมัคร
            div(style='position:absolute; top:401px; left:325px;')
              div.day
                div.font-bold 28 พฤศจิกายน 2558
                div ประกาศผลผู้เข้ารอบ
            div(style='position:absolute; top:315px; left:650px;')
              div.day(style='border-left:1px solid #fff;')
                div.font-bold 12 ธันวาคม 2558
                div สัมภาษณ์ผู้เข้ารอบ
            div(style='position:absolute; top:148px; left:650px;')
              div.day(style='border-left:1px solid #fff;')
                div.font-bold 19 ธันวาคม 2558
                div ประกาศผลตัวจริงและตัวสำรอง
            div(style='position:absolute; top:-9px; left:420px;')
              div.day(style='border-right:1px solid #fff;')
                div.font-bold 7-10 มกราคม 2559
                div วันค่าย YWC#13
        
        div.col-xs-12.visible-xs.visible-sm
          div.container-fluid
            div.row
              div.col-xs-4.text-right
                img.center-block(src='../images/landing/timeline/timeline-mobile.png',width='100')
              div.col-xs-8
                div.day(style='padding-top:32px;')
                  div.font-bold 31 ตุลาคม 2558
                  div หมดเขตรับสมัคร
                div.day
                  div.font-bold 28 พฤศจิกายน 2558
                  div ประกาศผลผู้เข้ารอบ
                div.day
                  div.font-bold 12 ธันวาคม 2558
                  div สัมภาษณ์ผู้เข้ารอบ
                div.day
                  div.font-bold 19 ธันวาคม 2558
                  div ประกาศผลตัวจริงและตัวสำรอง
                div.day
                  div.font-bold 7-10 มกราคม 2559
                  div วันค่าย YWC#13  
  
  div.bottom-space
